.two-item-row {
  display: flex;

  .row-item {
    width: 46%;

    &:first-child {
      margin-right: 8%;
    }

    & > .btn {
      width: 100%;
    }
  }
}

.container {
  max-width: 125rem;
  padding: 0 1.5rem;
  margin: 0 auto;

  @include respond(tab-land) {
    width: 90%;
  }

  @include respond(phone) {
    width: 95%;
  }
}