@import '../../../../styles/common/variables';

.navbar {
  height: $navbar-height;
  display: flex;

  &__logo {
    background: darken($purple-dark, 5);
    width: $sidebar-width;
    display: flex;
    align-items: center;
    padding: 2.5rem;

    a {
      color: $white;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: bold;
      font-size: 1.8rem;
    }
  }

  &__search {
    flex: 1;
    padding: 0 3rem;
    display: flex;
    align-items: center;
  }

  &__links {
    display: flex;
  }

  &__icons {
    display: flex;
    align-items: center;

    .fas {
      color: darken($gray, 5);
      font-size: 2rem;
      margin: 0 2rem 0 1rem;
    }
  }

  &__separator {
    height: 4rem;
    border-left: 1px solid $lightgray;
    margin-right: 2rem;
  }

  &__user {
    position: relative;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.6rem;

    .fa-angle-down {
      margin-left: 1rem;
    }

    &:hover .navbar__dropdown {
      display: block;
    }
  }

  &__dropdown {
    display: none;
    position: absolute;
    width: 200px;
    top: $navbar-height;
    left: 0;
    background: $white;
    border: 1px solid $whitesmoke;

    &-link {
      padding: 1.4rem;
      cursor: pointer;

      &:hover {
        background: $whitesmoke;
      }
    }
  }
}
