@import '../../styles/common/variables';
@import '../../styles/common/mixins';

.btn {
  display: block;
  width: 18rem;
  padding: 1.2rem;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;

  &--primary {
    border: 2px solid $purple;
    background-color: $purple;
    color: $white;
  }

  &--secondary {
    border: 2px solid $purple;
    background-color: $white;
    color: $purple;
  }

  @include respond(tab-port) {
    width: 16rem;
    padding: 1rem;
  }

  @include respond(phone) {
    width: 15rem;
    padding: .8rem;
    font-size: 1.4rem;
  }
}