@import '../../../styles/common/variables';
@import '../../../styles/common/mixins';

.avatar {
  border-radius: 50%;
  margin: 0 1.5rem;

  &--normal {
    height: 4rem;
    width: 4rem;
  }

  &--large {
    height: 6rem;
    width: 6rem;

    @include respond(phone) {
      height: 4rem;
      width: 4rem;
    }
  }

  &--small {
    height: 2.5rem;
    width: 2.5rem;
    margin: 1rem;
  }
}
