@import '../../../styles/common/variables';

.avatar {
  border-radius: 50%;
  border: 1px solid $lightgray;
  margin: 0 1.5rem;

  &--normal {
    height: 4.5rem;
    width: 4.5rem;
  }

  &--large {
    height: 6rem;
    width: 6rem;
  }
}
