@import '../../../../styles/common/variables';

.dashboard-content {
  background: $purple-light;
  width: 100%;
  padding: 0 6rem;
}

.dashboard-title {
  color: $purple-dark;
  margin: 4.5rem 0;
  font-weight: normal;
}