.form {
  width: 50%;
  margin: 36px auto 0;

  &__field {
    width: 100%;
    margin-bottom: 24px;
    padding: 12px 0;
    border: none;
    border-bottom: 2px solid darken($whitesmoke, 3);
    font-family: 'Sarabun', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: lighten($black, 30);

    &::placeholder {
      color: $purple;
    }

    &:focus {
      outline: none;
      border-color: $purple;
    }
  }

  &__link {
    color: $purple;
  }

  &__btn {
    margin: 32px auto;
  }
}