* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Sarabun', sans-serif;
  font-size: 16px;
}

.text-primary {
  font-size: 1.5rem;
  color: $purple;
  font-weight: bold;
  text-decoration: none;

  @include respond(phone) {
    font-size: 1.4rem;
    font-weight: normal;
  }
}