.two-item-row {
  display: flex;

  .row-item {
    width: 46%;

    &:first-child {
      margin-right: 8%;
    }
  }

  @include respond(phone) {
    flex-wrap: wrap;

    .row-item {
      width: 100%;

      &:first-child {
        margin-right: 0;
      }
    }
  }
}