@import '../../../styles/common/variables';

.dashboard {
  display: flex;
  height: calc(100vh - #{$navbar-height});

  &__content {
    width: 100%;
    background: $purple-light;
    padding: 4rem 6rem;
  }
}
