$white: #fff;
$whitesmoke: #eee;
$lightgray: #cdcdcd;
$gray: #9a9a9a;
$darkgray: #333333;
$purple-light: #f0f0f7;
$purple-dark: #43425d;
$purple: #a3a0fb;
$black: #000;
$red: #a70000;
$green: #27ff6f;
$orange: #dbad15;
$blue: #3b86ff;

$navbar-height: 80px;
$sidebar-width: 320px;
$sidebar-tab-land-width: 260px;
