@import '../../../../styles/common/variables';
@import '../../../../styles/common/mixins';

.group-form {
  width: 90%;
  margin: 0 auto;

  .btn {
    margin: 2rem auto 0;
  }

  .upload {
    margin: 0 auto;
  }

  &__title {
    color: $purple-dark;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;

    @include respond(phone) {
      letter-spacing: 1px;
      margin: 1.5rem;
    }
  }

  &__user {
    margin-bottom: 1rem;
    position: relative;

    .fas {
      position: absolute;
      right: 0;
      top: 50%;
      font-size: 2.4rem;
      transform: translate(-50%, -50%);
      color: $purple-dark;
      cursor: pointer;
    }
  }
}
