.chat {
  border: 1px solid black;
  display: flex;
  height: 100%;

  &__sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
  }

  &__search {
    height: 8.5rem;
    border-bottom: 1px solid green;
  }

  &__main-area {
    flex: 2;
    border: 1px solid red;
  }
}
