@import '../../../styles/common/variables';
@import '../../../styles/common/mixins';

.auth-page {
  height: 100vh;
  display: flex;
  position: relative;

  &__image {
    width: 50%;
    background: $whitesmoke;
  }

  &__content {
    width: 50%;
    padding-bottom: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__terms {
    position: absolute;
    bottom: 0;
    margin-bottom: 2.4rem;
  }

  @include respond(tab-land) {
    &__image {
      display: none;
    }

    &__content {
      width: 100%;
    }
  }

  @include respond(tab-port) {
    &__content {
      padding-bottom: 8rem;
    }
  
    &__terms {
      margin-bottom: 1.6rem;
    }
  }

  @include respond(phone) {
    &__content {
      padding-bottom: 6rem;
    }
  
    &__terms {
      margin-bottom: 1.2rem;
    }
  }
}