@import '../../../styles/common/variables';
@import '../../../styles/common/mixins';

.auth-page {
  height: 100vh;
  display: flex;
  position: relative;

  &__image {
    width: 50%;
    background: $whitesmoke;
  }

  &__content {
    width: 50%;
    padding-bottom: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__form {
      width: 55%;
      padding: 2rem 0;
      text-align: center;
    
    //   @include respond(tab-land) {
    //     width: 45%;
    //   }
    
    //   @include respond(tab-port) {
    //     width: 60%;
    //     margin: 2.4rem auto 0;
    
    //     &__field {
    //       margin-bottom: 2rem;
    //     }
    //   }
    
    //   @include respond(phone) {
    //     width: 90%;
    //     margin: 1rem auto 0;
    
        // &__field {
        //   margin-bottom: 1.5rem;
        //   padding: 1rem 0;
        //   border: none;
        //   border-bottom: 1px solid darken($whitesmoke, 3);
        //   font-size: 1.4rem;
        //   font-weight: normal;
        // }
      // }
    }
  }

  &__terms {
    position: absolute;
    bottom: 0;
    margin-bottom: 2.4rem;
  }

  @include respond(tab-land) {
    &__image {
      display: none;
    }

    &__content {
      width: 100%;
    }
  }

  @include respond(tab-port) {
    &__content {
      padding-bottom: 8rem;
    }
  
    &__terms {
      margin-bottom: 1.6rem;
    }
  }

  @include respond(phone) {
    &__content {
      padding-bottom: 6rem;
    }
  
    &__terms {
      margin-bottom: 1.2rem;
    }
  }
}