@import '../../../styles/common/variables';

.homepage {
  background: $purple-light;
  width: 100%;

  .homepage__title {
    color: $purple-dark;
    margin: 0 0 4rem;
    font-weight: normal;
  }
}
