@import '../../../../styles/common/variables';

.sidebar {
  background: $purple-dark;
  width: $sidebar-width;
  min-width: $sidebar-width;

  &__item {
    padding: 2rem 3rem;
    color: $whitesmoke;
    font-size: 1.7rem;
    cursor: pointer;

    i {
      margin-right: 1.5rem;
    }

    &:hover {
      background: darken($purple-dark, 5);
      border-left: 3px solid $purple;
    }
  }
}
