@import '../../../../styles/common/variables';
@import '../../../../styles/common/mixins';

.sidebar {
  background: $purple-dark;
  width: $sidebar-width;
  min-width: $sidebar-width;

  &__logo {
    background: darken($purple-dark, 5);
    height: $navbar-height;
    display: flex;
    align-items: center;
    padding: 2.5rem;

    a {
      color: $white;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: bold;
      font-size: 1.8rem;
    }
  }

  &__item {
    display: block;
    text-decoration: none;
    padding: 2rem 3rem;
    color: $whitesmoke;
    font-size: 1.7rem;
    cursor: pointer;

    i {
      margin-right: 1.5rem;
    }

    &:hover,
    &.active {
      background: darken($purple-dark, 5);
      border-left: 3px solid $purple;
    }
  }

  @include respond(tab-land) {
    width: $sidebar-tab-land-width;
    min-width: $sidebar-tab-land-width;
  }
}
