@import '../../../../styles/common/variables';
@import '../../../../styles/common/mixins';

.sidebar {
  background: $purple-dark;
  width: $sidebar-width;
  min-width: $sidebar-width;

  &__logo {
    background: darken($purple-dark, 5);
    height: $navbar-height;
    display: flex;
    align-items: center;
    padding: 2.5rem;

    .link-normal,
    .link-tablet {
      color: $white;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: bold;
      font-size: 1.8rem;
    }

    .link-tablet {
      display: none;
    }
  }

  &__hamburger {
    display: none;
  }

  &__links-normal {
    display: block;
  }

  &__links-tablet {
    display: none;
  }

  &__item {
    display: block;
    text-decoration: none;
    padding: 2rem 3rem;
    color: $whitesmoke;
    font-size: 1.7rem;
    cursor: pointer;

    i {
      margin-right: 1.5rem;
    }

    &:hover,
    &.active {
      background: darken($purple-dark, 5);
      border-left: 3px solid $purple;
    }
  }

  @include respond(tab-land) {
    width: $sidebar-tab-land-width;
    min-width: $sidebar-tab-land-width;
  }

  @include respond(tab-port) {
    width: 8rem;
    min-width: 8rem;

    &__logo {
      justify-content: center;

      .link-normal {
        display: none;
      }

      .link-tablet {
        display: block;
        font-size: 3rem;
        text-align: center;
      }
    }

    &__links-normal {
      display: none;
    }

    &__links-tablet {
      display: block;
    }
  }

  @include respond(phone) {
    position: absolute;
    display: none;
    width: 80%;
    min-width: 80%;
    height: 100%;
    z-index: 2000;

    &__logo {
      display: flex;
      justify-content: space-between;

      .link-normal {
        display: inline-block;
      }

      .link-tablet {
        display: none;
      }
    }

    &__hamburger {
      display: block;
      font-size: 3rem;
      color: $white;
    }

    &__links-normal {
      display: block;
    }

    &__links-tablet {
      display: none;
    }

    &.show-on-mobile {
      display: block;
    }
  }
}
