.uploader-container {
  height: 100px;
  width: 100px;
  position: relative;

  .uploader-wrapper {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

    .avatar {
      margin: 0;
      width: 100%;
      height: 100%;
    }
  }
}
