@import '../../../styles/common/variables';
@import '../../../styles/common/mixins';

.field {
  position: relative;
  margin-bottom: 4rem;

  &--inline {
    width: 46%;
    display: inline-block;
    
    &:first-child {
      margin-right: 8%;
    }
  }

  &__text {
    display: block;
    padding: 1rem;
    width: 100%;
    border: none;
    border-bottom: 1px solid $lightgray;
    font-family: 'Sarabun', sans-serif;
    font-size: 1.6rem;
    letter-spacing: 1px;
    color: lighten($black, 5);

    &--error {
      border-bottom: 2px solid $red;
    }

    &:focus {
      outline: none;
      border-color: $purple;
      transition: 0.2s ease all;
    }

    &:focus ~ .field__label,
    &:valid ~ .field__label {
      top: -2rem;
      font-size: 1.4rem;
      color: $purple;
    }

    &:focus ~ .field__bar:before,
    &:focus ~ .field__bar:after {
      width: 50%;
    }

    &:focus ~ .field__highlight {
      animation: inputHighlighter 0.3s ease;
    }
  }

  &__highlight {
    position: absolute;
    height: 60%;
    width: 40%;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.3;
  }

  &__bar {
    position: relative;
    display: block;

    &:before,
    &:after {
      content: '';
      height: 1px;
      width: 0;
      bottom: 1px;
      position: absolute;
      background: $purple;
      transition: 0.2s ease all;
    }

    &:before {
      left: 50%;
    }

    &:after {
      right: 50%;
    }
  }

  &__label {
    color: $purple;
    font-size: 1.6rem;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 1rem;
    top: 1rem;
    transition: 0.2s ease all;
  }

  &__error {
    padding: 0 10px;
    position: absolute;
    color: $red;
    width: 100%;
    height: 25px;
    font-size: 15px;
    display: flex;
    align-items: center;
  }

  @include respond(tab-port) {
    margin-bottom: 3.5rem;
    font-size: 1.5rem;

    &__error {
      height: 2rem;
      font-size: 1.3rem;
    }
  }

  @include respond(phone) {
    margin-bottom: 3rem;
    font-size: 1.3rem;
  }
}

@keyframes inputHighlighter {
	from { 
    background: $purple; 
  }

  to { 
    width: 0; 
    background: transparent;
  }
}